CREATE TABLE prod.Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255) 
);
CREATE TABLE prod.data (
    ID int,
    L_Name varchar(255),
    F_Name varchar(255),
    Address varchar(255),
    Number varchar(10)
);
